body {
    background-image: url('../../img/bground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 100%;
}

.info {
    font-family: 'Pacifico', cursive;
    padding: 40px 0px 20px 0px;
    text-align: center;
}

.title {
    font-size: 4em;
}

input {
    width: 200px;
}

.msg {
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 100px;
}

.indicador {
    content: "";
    display: inline-flex;
    height: 10px;
    width: 10px;
    background-color: #ffd600;
    border-radius: 50px;
    transform: translateY(-3px);
}

.indicador_on{
    background-color: #00e676 !important;
}

.subtitle {
    font-size: 2.25em;
    padding: 15px;
}

.enviar {
    padding: 10px 20px;
    border: none;
    font-size: 1.25em;
    border-radius: 5px;  
    background-color: #00e676;
    cursor: pointer; 
}

.logopref {
    height: 75px;
    width: auto;
    margin-top: 0px;
}

.logocult {
    height: 120px;
    margin-top: 50px;
}

.endbairro {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.placeinfo::placeholder {
    color: #757575;
    font-size: 1.25em;
}

@media(max-width:460px) {
    .logopref {
        height: 50px;
    }
    .title {
        font-size: 3.55em;
    }
    .subtitle {
        font-size: 2.25em;
    }
    .logocult {
        margin: 0;
    }
}